<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- Vue.JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script defer src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <script defer src="./assets/js/script.js"></script>
    <title>Application de vote interactive</title>
</head>
<body>
    <main id="app">
        <h2 class="title">Classement interactif des films par catégorie</h2>
        <p>Sélectionnez la catégorie pour laquelle vous souhaitez soumettre votre classement personnalisé et déplacez les films selon vos préférences !</p>
        <section id="movies-vote" v-if="displayVote">
            <!-- Input select pour choisir le genre -->
            <!-- Lorsque l'on clique sur une catégorie (onchange), les méthodes showMovies et checkLocalStorage se lancent -->
            <select name="type" id="type" v-model="typeSelected" @change="showMovies(typeSelected.id);checkLocalStorage()">
                <!-- Boucle sur le tableau des genres -->
                <option disabled value="">Choisissez une catégorie</option>
                <option 
                    v-for="(item, index) in typesList"
                    :key="item.id"
                    :value="item"
                >
                        {{item.name}}
                </option>
            </select>
            <!-- Elément SORTABLE pour glisser-déposer -->
            <draggable 
                :list="moviesList" 
                group="people" 
                @start="drag=true" 
                @end="drag=false"
                id="draggable"
            >
                <!-- Boucle sur le tableau des films -->
                <div class="item-vote" v-for="(element, index) in moviesList" :key="element.id">
                    <div class="item-vote-top">
                        <div class="item-vote-img-container">
                            <img class="img-arrow" src="./assets/img/reshot-icon-left-and-right-arrows-Z5XLT7B8WY.svg" alt="">
                        </div>
                        <div class="item-vote-index">{{index+1}}</div>
                    </div>
                    <div class="img-container">
                        <img :src="'https://image.tmdb.org/t/p/original/'+element.poster_path" :alt="'Poster du film '+element.title">
                    </div>
                    <div class="title">
                        {{element.title}}
                    </div>
                </div>
            </draggable>
            <!-- Affichage du bouton uniquement si displaySubmitButton est sur true et lorsque l'on clique dessus, la méthode saveVote se lance -->
            <button 
                v-if="displaySubmitButton"
                type="submit"
                @click="saveVote"
            >
                Terminer le vote
            </button>
        </section>
        <!-- Affichage du résultat uniquement si displayResults est true -->
        <section id="results" v-if="displayResults">
            <!-- Boucle sur le tableau arrayResults qui récupère le vote enregistré dans le local storage -->
            <div 
                v-for="(item, index) in arrayResults"
            >
                {{item.title}}
            </div>
        </section>
    </main>
</body>
</html>