@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

html {
    font-family: 'Poppins';
}

.title {
    font-family: 'Bebas Neue';
    font-size: 25px;
}

/* Section */
#movies-vote {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

select {
    padding: 1em;
    font-family: 'Poppins';
}

img {
    width: 250px;
}

#draggable {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.item-vote {
    display: flex;
    flex-direction: column;
    
    gap: 0.5em;
    width: calc(100%/6);
    cursor: move;
}
